# Ignore node_modules directory
node_modules/
credential_api/
pw/

# Ignore log files
*.log

# Ignore build directories
/build/

# Ignore specific files
.DS_Store
.Rproj.user
.Rhistory
.Rhistory
*.pper
/.Rproj.user/F0D5C8A2/sources/prop
/.Rproj.user/F0D5C8A2/sources
