# Ignore node_modules directory
node_modules/
credential_api/
pw/

# Ignore log files
*.log

# Ignore build directories
/build/

# Ignore specific files
.DS_Store
.Rproj.user
.Rproj.user/F0D5C8A2/pcs/source-pane.pper
.Rproj.user/F0D5C8A2/pcs/source-pane.pper
.Rproj.user/F0D5C8A2/pcs/source-pane.pper
.Rproj.user/F0D5C8A2/pcs/windowlayoutstate.pper
.Rproj.user/F0D5C8A2/pcs/source-pane.pper
.Rproj.user/F0D5C8A2/pcs/windowlayoutstate.pper
.Rproj.user/F0D5C8A2/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
form-fill/.DS_Store
*.pper
*.pper
.DS_Store
.Rproj.user/F0D5C8A2/pcs/files-pane.pper
.Rproj.user/F0D5C8A2/pcs/source-pane.pper
.Rproj.user/F0D5C8A2/pcs/windowlayoutstate.pper
.gitignore
form-fill/.DS_Store
