# Ignore node_modules directory
node_modules/
credential_api/
pw/

# Ignore log files
*.log

# Ignore build directories
/build/

*credentials-api/google_ser_r_credentials.json
*credentials-api/google_ser_r_credentials.json:1
